@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;700&display=swap');


/* CARRUSEL */
*, *::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: 'Hind Madurai', sans-serif;
    margin:0;
    background-color: #EBE9E9;
}

.carrusel{
    width: 100%;
    height: 100vh;
    position: relative;
}

.carrusel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active]{
    opacity: 1;
}

.carrusel-btn{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 96px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgb(0,0,0, .2);
}

.carrusel-btn:hover, .carrusel-button:focus{
    color: white;
    background-color: rgb(0,0,0, .4);
}

.carrusel-btn:focus{
    outline: 1px solid black;
}

#carrusel-btn-prev{
    left:20px;
}

#carrusel-btn-next{
    right:20px;
}


/* NAVBAR */

.nav-bar{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 172px;
    background: #2f3020;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* border-radius: 0px 0px 0px 50px; */
}

.nav-bar-text{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 76px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 280px;
    height: 110px;
    top: 30px;
    color: rgb(255, 255, 255);
}

#experience{
    left: 5%;
}

#about-me{
    left: 30%;
}

#skills{
    left: 55%;
}

#contact-me{
    left: 75%;
}


.informacion{
    width: 100%;
}

/* Experiencia */

.experience{
    margin: 0 0 0 0;
    width: 100%;
}

.titulo_seccion{
    position: relative;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 207px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D96846;
}

.parrafo{
    position: relative;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #596235;
    
}

.subtitulo{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    color: #596235;
}

.work-link{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #2f3020;
}

#linkGTA, #linkUM{
    margin-left: 30%;
}

#linkAk{
    margin-left: 70%;
    margin-right: 1%;
    text-align: right;
}

#subtituloGTA{
    left: 526px;
    top: 450px;
    margin-left: 1%;
}

#imgGTA{
    margin-left: 10%;
}

#parrafoGTA{
    width:80%;
    left: 29px;

}

#subtituloAk{
    right:10%;
    margin-right: 1%;
    text-align: right;
}

#parrafoAk{
    left:20%;
    text-align: right;
    width:80%;
}

.alinear-der{
    width: 100%;
    text-align: right;
}

#imgAk{
    height: 540px;
    width: auto;
    margin-right: 1%;
}

#subtituloUM{
    left: 526px;
    top: 450px;
    margin-left: 1%;
}

#imgUM{
    height: 540px;
    width: auto;
    margin-left: 10%;
}

#parrafoUM{
    width:80%;
    left: 29px;
}

#titulo_experiencia{
    width: 776px;
    height: 157px;
    left: 2px;
    top: -1px;
}

.linea{
    border:10px solid brown;
}


/* About Me */
#titulo_about-me{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D96846;
    line-height: 150px;
}

#nombre{
    position: relative;
    font-weight: 900;
    font-size: 100px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me-parrafo{
    position: relative;
    width: 80%;
    line-height: 80px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-me-img{
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    bottom: 150px;
    border-radius: 222px;
    margin-left: 10%;
    margin-right: 10%;
    margin:auto;

}


.rectangle{
    position: relative;
    width:60%;
    height:150px;
    border:10px solid #aaa;
    margin: auto;
    margin-bottom: 50px;
    
}

.skill{
    position: relative;
    font-size: 50px;
    margin-left: 20%;
    margin-top: 100px;
    margin-bottom: 0;
}

.fill{
    position: relative;
    width:50%;
    height:130px;
    background-color: #596235;
}

#titulo_skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D96846;
    line-height: 150px;
    font-size: 200px;
}


/* Contacto */

#titulo_contact-me{
    left: 2%;
    top: -1px;
}

.input-info{
    background-color: white;
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}

#msg-section {
    height: 600px;
}

.contact-me-input {
    font-size: 70px;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    padding-left: 40px;
}

.contact-me-input::placeholder{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: darkgray;
    padding: auto;
}

.send-btn{
    width: 100%;
    text-align: center;
}

.sociales{
    margin-top: 200px;
    width: 100%;
    text-align: center;
}

.red{
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}

.red-link{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #2f3020;
    margin-bottom: 40px;
}

.red_block{
    margin: auto;
    margin-bottom: 100px;
}


.personal-info{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 80px;
    color: #596235;
}

#send-btn{
    width: 10%;
    background-color: #2f3020;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: wheat;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 100px;
}

#send-btn:hover, #send-btn:focus{
    font-weight: 700;
    font-size: 60px;
}


@media(min-width: 768px){
    .search_box{
        width: 50%;
    }

    .results_box{
        width: 50%;
    }
}


/* Desktop */
@media(min-width: 1024px){
    .search_box{
        width: 440px;
        height: 48px;
    }

    .results_box{
        width: 440px;
    }
}

